.advantage {
  background-color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #5d5d5d;
}

.advantage__list {
  list-style: none;
  text-align: left;
}

.advantage__title {
  margin: 0;
}

.advantage__description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantage__list {
    display: flex;
  }
}
