.advantage {
  background-image: url(../../img/main-city-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-color: white;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #5d5d5d;
}
