.advantage {
  padding-bottom: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #5d5d5d;
}

.advantage__list {
  background-color: white;
  margin-top: 36px;
  margin-bottom: 38px;
  list-style: none;
  text-align: left;
}

.advantage__title {
  margin-top: 28px;
  margin-bottom: 13.4px;
  color: black;
  font-size: 18px;
  line-height: 26px;
}

.advantage__item {
  padding: 0 30px;
}

.advantage__description {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .advantage__list {
    display: flex;
  }
}
