.controls__range {
  position: relative;
  margin-top: -52px;
  padding: 21px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.controls__stripe {
  width: 235px;
  height: 3px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.controls__ball {
  position: absolute;
  top: 18px;
  left: 58px;
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.controls__buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  min-width: 280px;
  padding: 22px 0;
  background-color: @bg-input;
}

.controls__replay-button,
.controls__subtitles-button,
.controls__fullscreen-button {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    position: absolute;
    fill: @controls-btn;
    left: 0;
    top: 0;
  }

  &:hover {
    svg {
      fill: @controls-hover;
    }
  }

  &:active {
    svg {
      fill: @controls-down;
    }
  }
}

.controls__replay-button {
  margin-bottom: 1px;
  margin-left: 24px;
  width: 20px;
  height: 21px;
}

.controls__subtitles-button {
  margin-top: 1px;
  margin-left: 131px;
  width: 32px;
  height: 20px;
}

.controls__fullscreen-button {
  margin-top: 1px;
  margin-left: 30px;
  width: 20px;
  height: 20px;
}

@media (min-width: @tablet-width) {
  .controls__buttons {
    width: 649.5px;
    padding: 36px 0;
    margin-top: -99px;
    background-color: rgba(0, 0, 0, 0.6);

    svg {
      fill: white;
    }
  }

  .controls__replay-button {
    margin-left: 35px;
  }

  .controls__subtitles-button {
    margin-left: 470px;
  }

  .controls__range {
    position: absolute;
    top: -23px;
    left: 90px;
    background-color: transparent;
    z-index: 1;
  }

  .controls__stripe {
    width: 389px;
  }

  .controls__ball {
    left: 30%;
  }
}

@media (min-width: @desktop-width) {
  .controls__buttons {
    width: 800px;
  }

  .controls__subtitles-button {
    margin-left: 620px;
  }


  .controls__stripe {
    width: 540px;
  }

  .controls__range {
    left: 11%;
  }

  .controls__ball {
    left: 22%;
  }
}
