.contacts-info {
  position: relative;
  padding-top: 18px;
  padding-bottom: 29px;
  line-height: 26px;

  &::after {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    right: -20px;
  }
}

.contacts-info__legend {
  font-size: 18px;
  color: black;

  &::after,
  &::before {
    display: none;
  }
}

.contacts-info__label {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  contacts-info__intro {
    padding-left: 22px;
    padding-bottom: 0px;
  }

  b {
    font-weight: normal;
  }
}

.contacts-info__label:last-child {
  padding-top: 12px;

  contacts-info__intro {
    padding-bottom: 7px;
  }

  .contacts-info__icon {
    top: 38px;
  }
}

.contacts-info input {
  padding: 21px;
  background-color: @bg-input;
  border: none;

  &:hover {
    background-color: @input-hover;
  }

  &:focus {
    background-color: white;
  }

  &::placeholder {
    font-size: 16px;
    font-weight: bold;
    color: black;
  }
}

.contacts-info__icon {
  position: absolute;
  top: 46px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

@media (min-width: @tablet-width) {
  .contacts-info {
    position: relative;
    padding-top: 34px;

    &::after {
      display: none;
    }
  }

  .contacts-info__legend {
    font-size: 21px;

    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 46px;
      width: 123px;
      height: 1px;
      background-color: @bg-gray;
    }

    &::after {
      right: 0;
    }

    &::before {
      left: 0;
    }
  }

  .contacts-info__label {
    padding-top: 24px;
  }

  .contacts-info__label:last-child {
    padding-top: 23px;

    .contacts-info__icon {
      top: 49px;
    }
  }

  .contacts-info__icon {
    top: 50px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-info {
    padding-top: 32px;

    &::after,
    &::before {
      width: 278px;
      top: 42px;
    }
  }

  .contacts-info label {
    flex-direction: row;
    margin-top: 50px;

    b {
      display: none;
    }

    contacts-info__intro {
      display: block;
      margin-top: 16px;
      margin-left: -22px;
      margin-right: 16px;
    }

    input {
      width: 273px;
    }

    .contacts-info__icon {
      top: 24px;
    }
  }

  .contacts-info__label:last-child {
    .contacts-info__icon {
      top: 24px;
    }
  }
}
