.copyright {
  display: flex;
  justify-content: space-around;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright__link {
  font-size: 0;
  background-color: white;
  padding-right: 8px;
}

.copyright__icon:hover {
  fill: @bg-blue;
}

.copyright__icon:active {
  fill: #b2b2b2;
}

.copyright__text {
  padding-top: 3px;
  padding-left: 7px;
}

@media (min-width: @tablet-width) {
  .copyright {
    justify-content: flex-end;
    padding-top: 8px;
  }

  .copyright__text {
    padding-right: 13px;
  }
}
