.impression {
  position: relative;
  padding-top: 17px;
  padding-bottom: 17px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;

  &::before {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    right: -20px;
  }

  input {
    position: absolute;
    opacity: 0;
  }
}

.impression__legend {
  font-size: 18px;
}

.impression__label {
  margin-bottom: 8px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 79px;
  text-transform: none;
  cursor: pointer;

  &:first-of-type {
    margin-top: 20px;
  }

  span {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -14px;
      left: -79px;
      width: 56px;
      height: 56px;
      background-color: @bg-input;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: -62px;
      width: 22px;
      height: 22px;
      background-color: black;
      border-radius: 50%;
      opacity: 0;
      transition: 0.3s;
    }

    &:hover::before {
      background-color: @input-hover;
      transition: 0.3s;
    }

    &:active::before {
      background-color: @input-down;
      transition: 0.3s;
    }

    &:active::after {
      opacity: 0.3;
      transition: 0.3s;
    }
  }
}

.impression input:checked + span::after {
  opacity: 1;
  transition: 0.3s;
}

.impression input:checked + span:active::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .impression h3 {
    padding-bottom: 28px;
    font-size: 21px;
    text-align: left;
  }

  .impression__label {
    margin-bottom: 17px;
    padding-left: 77px;

    &:first-of-type {
      margin-top: 26px;
    }

    span {
      &::before {
        left: -77px;
        top: -15px;
      }

      &::after {
        left: -60px;
      }
    }
  }

  .impression::before {
    transform: rotate(90deg);
    width: 292px;
    left: 178px;
    top: 168px;
  }
}

@media (min-width: @desktop-width) {
  .impression h3 {
    padding-left: 80px;
  }

  .impression__label {
    padding-left: 80px;
  }

  .impression::before {
    width: 292px;
    left: 335px;
    top: 168px;
  }
}
