.impression {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: black;
}

.impression input {
  position: absolute;
}

@media (min-width: @tablet-width) {
  .impression h3 {
    text-align: left;
  }
}
