.left-list__item:nth-last-of-type(1) {
  border-top: 1px solid #9ac2db;
}

.left-list__item {
  border-bottom: 1px solid #678fa8;
}

@media (min-width: @tablet-width) {
  .left-list {
    display: flex;
    justify-content: space-around;
    order: 1;
  }
}
