.main-nav {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.main-nav__list {
  display: non;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #81b3d2;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.main-nav__link {
  display: block;
  width: 100%;
  padding: 7.1px 0;
  text-decoration: none;
  color: white;
  text-transform: uppercase;

  &:hover {
    background-color: @btn-hover;
  }

  &:active {
    background-color: @btn-down;
    color: @btn-content-down;
  }
}

.main-nav__toggle {
  position: relative;
  width: 23px;
  height: 22px;
  margin-top: 17px;
  margin-bottom: 16px;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggle-icon {
  position: absolute;
  fill: @bg-blue;
  top: 0;
  left: 0;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__list {
    background-color: white;
  }

  .main-nav__link {
    color: black;
    padding-top: 14px;
    font-size: 14px;
    line-height: 26px;

    &:hover {
      background-color: white;
      color: @main-menu-hover;
    }

    &:active {
      color: @main-menu-down;
    }

    &--active {
      color: @menu-active;
    }

    &--active:hover {
      color: @menu-active-hover;
    }

    &--active:active {
      color: @menu-active-down;
    }
  }

  .main-nav__wrapper {
    flex-wrap: nowrap;
    justify-content: center;
    width: 768px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 1200px;
  }
}
