.main-header {
  width: 100%;
  margin: 0 auto;
  outline: 1px solid black;
  background-color: white;
}

.main-header__logo {
  height: 84px;
}

.main-header__text {
  min-height: 200px;
  width: 100%;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .main-header__logo {
    height: 95px;
  }

  .main-header__text {
    background-size: cover;
  }
}
