.page-footer {
  width: 100%;
  background-color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: black;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  width: 160px;
  padding-top: 14px;
  margin: 0 auto;
  text-align: center;
}

.page-footer__title {
  margin-bottom: 37px;
  padding: 0;
  font-size: 21px;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
}

.page-footer__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    min-width: 665px;
    padding-top: 0px;
  }

  .page-footer__title {
    margin-top: 10px;
    margin-left: 10px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    min-width: 1125px;
  }

  .page-footer__title {
    padding-left: 85px;
  }
}
