.photos {
  background-color: white;
}

.photos__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 17px;
}

.photos__item::before {
  content: "";
  width: 320px;
  height: 1px;
  background-color: #eeeeee;
  position: absolute;
  bottom: 0;
  left: -20px;
}

.photos__text {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2px;
}

.photos__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-top: 7px;
}

.photos__author {
  text-transform: none;
}

.photos__likes {
  position: relative;
  padding-top: 8px;
  padding-left: 37px;
  text-decoration: none;
  color: black;
}

.photos__likes svg {
  position: absolute;
  left: 0;
  top: 6px;
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .photos__item:first-child {
    width: 100%;

    .photos__likes {
      padding-right: 5px;
    }

    .photos__image {
      height: 400px;
    }
  }

  .photos__image {
    width: 100%;
    min-height: 267px;
    display: block;
  }

  .photos__item:nth-child(2) {
    .photos__label {
      width: 70%;
    }
  }

  .photos__item:nth-child(3) {
    .photos__text {
      background-color: #eaeaea;
    }

    .photos__likes {
      padding-right: 20px;
    }
  }

  .photos__item {
    padding-top: 0;
    padding-bottom: 0;
    width: 324px;
  }

  .photos__item::before {
    display: none;
  }

  .photos__text {
    padding: 16px;
    background-color: @bg-input;
    justify-content: space-between;
  }

  .photos__label {
    width: 50%;
    margin: 0;
    padding-left: 5px;
  }

  .photos__likes {
    padding-top: 13px;
    padding-right: 13px;
    padding-left: 32px;

    svg {
      top: 13px;
    }
  }
}

@media (min-width: @desktop-width) {
  .photos__item {
    width: 400px;
    color: white;
    padding-bottom: 0;
  }

  .photos__item:first-child {
    img {
      height: 400px;
    }

    .photos__text {
      margin-top: -78px;
    }
  }

  .photos__text {
    position: relative;
    margin-top: -77px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 12px;
    padding-bottom: 17px;
  }

  .photos__item:nth-child(3) {
    .photos__text {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  .photos__likes {
    color: white;

    svg {
      fill: white;
      opacity: 1;
    }
  }
}
