.photos {
  background-color: white;
}

.photos__item {
  display: flex;
  flex-direction: column;
}

.photos__text {
  display: flex;
  flex-wrap: wrap;
}

.photos__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: @tablet-width) {
  .photos__item:first-child {
    width: 100%;
  }

  .photos__item {
    width: 324px;
  }

  .photos__label {
    width: 50%;
  }

  .photos__text {
    justify-content: space-between;
  }
}

@media (min-width: @desktop-width) {
  .photos__item {
    width: 400px;
  }
}
