.reviews {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #5d5d5d;

  h3 {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
  }
}

.reviews__wrapper {
  width: 280px;
  margin: 0 auto;
}

.reviews__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviews__header {
  position: relative;
  padding-top: 38px;
  padding-bottom: 4px;
  width: 100%;
  text-align: center;
  order: -10;

  &::after {
    content: "";
    width: 320px;
    height: 1px;
    background-color: #eeeeee;
    position: absolute;
    bottom: 0;
    right: -20px;
  }
}

.reviews__title {
  font-size: 18px;
  line-height: 26px;
  color: black;
}

.reviews__intro {
  padding-top: 12px;
}

.reviews__impression,
.reviews__introduce,
.reviews__places,
.reviews__emotions,
.reviews__contacts {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

.reviews__button {
  display: block;
  width: 100%;
  padding: 16px;
  margin-bottom: 37px;
  border: none;
  font-family: "PTSans", "Arial", sans-serif;
  font-size: 21px;
  text-transform: uppercase;

  &:hover {
    background-color: @btn-hover;
  }

  &:active {
    background-color: @btn-down;
    color: @btn-content-down;
  }
}

.reviews__required {
  display: none;
}

@media (min-width: @tablet-width) {
  .reviews__wrapper {
    margin: 0 auto;
    width: 648px;
  }

  .reviews__form {
    justify-content: space-between;
  }

  .reviews__header {
    padding-top: 73px;
    padding-bottom: 43px;

    &::after {
      display: none;
    }
  }

  .reviews__title {
    font-size: 30px;
  }

  .reviews__intro {
    padding: 0 105px;
    padding-top: 12px;
  }

  .reviews__impression {
    width: 50%;
    padding: 0;
    order: -2;
  }

  .reviews__introduce {
    width: 50%;
    order: -1;
  }

  .reviews__contacts {
    width: 100%;
  }

  .reviews__places {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .reviews__emotions {
    width: 100%;
  }

  .reviews__button {
    width: 323px;
    margin-bottom: 97px;
  }

  .reviews__required {
    display: block;
    padding-top: 5px;
  }
}

@media (min-width: @desktop-width) {
  .reviews__wrapper {
    width: 960px;
  }

  .reviews__header {
    padding-top: 110px;
    padding-bottom: 28px;
  }

  .reviews__intro {
    padding: 0 260px;
    padding-top: 12px;
  }

  .reviews__impression {
    width: 480px;
  }

  .reviews__introduce {
    width: 480px;
  }

  .reviews__contacts {
    flex-direction: row;
    justify-content: space-between;
  }

  .reviews__button {
    width: 50%;
    margin-bottom: 102px;
  }
}
