@tablet-width: 768px;
@desktop-width: 1280px;
@bg-blue: #81b3d2;
@bg-gray: #eeeeee;
@btn-hover: #669ec0;
@btn-down: #5496bd;
@btn-disabled: #e5e5e5;
@btn-content-down: #88b6d1;
@logo-hover: #81b3d2;
@logo-down: #e5e5e5;
@main-menu-hover: #81b3d2;
@main-menu-down: #b2b2b2;
@menu-active: #766357;
@menu-active-hover: #604e43;
@menu-active-down: #d6d0cc;
